body 
{
margin: 70px 40px 10px 70px;
}

p {
    display: inline;
	color:gray;
	margin:0;
	padding:0;

}	
a{
color:gray;
}

#white
{
color:white;
float:right;	
}

.f{
 background-color: gray;
 bottom:0;
 position:relative;
 color:white;
 margin-top:10%;
}


#center{
	display:block;
	margin-left:auto;
	margin-right:auto;
}


#center2{
	
	 margin: auto auto;
	 margin-left:22%;
	
}


#img
{margin-left:30%;}

#img2
{margin-left:50%;}

#block
{display-block;}

.footer {
    background-color: gray;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.c-1 {width: 100%;}
.c-2 {width: 30%;}
.c-3 {width: 30%;}
.c-4 {width: 30%;}
.c-5{ 
	width: 50%;
	margin: 0;
	float: left;
	box-sizing: border-box;
	padding: 20px;
}
.c-6{ 
	width: 50%; 
	margin: 0;
	float: left;
	box-sizing: border-box;
		padding: 20px;
}
.c-56{
	display: inline-block;
	margin: 0;
}
.c-7
{
display:inline-block;
}

.c-8
{
display:inline-block;
}

@media only screen and (max-width: 600px) {
    
    [class*="c-"] {
        width: 100%;
		margin-left:auto;
	margin-right:auto;
    }
	
	
#img
{margin-left:0;}

#img2
{margin-left:0;}

#change{width:30;}
	
	
}



@media (max-width: 1200px) 

{
	 .c-2 {
        width: 30%;
		margin-left:auto;
	margin-right:auto;
    }
	.c-3 {
        width: 30%;
		margin-left:auto;
	margin-right:auto;
    }
	.c-4 {
        width: 30%;
		margin-left:auto;
	margin-right:auto;
    }
	
	#change{width:30;}
	
}
